<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Title</title>
</head>
<body>

<div id="content_container" class="center-screen">

    <div id="header_container" class="header_formatter">


        Poly Proofs


    </div>

    <div id="subjects_container">


        <div id="math_container" class="subjects_formatter" style="background-color: -moz-mac-chrome-active">
            <p id="math_header_container" class="subjects_header_formatter">
                Math Header
            </p>
            <form action="/math_submit" method="POST">
                <input type="submit" value="Calculus I" name="calc_1" style="float:left;">
                <input type="submit" value="Calculus II" name="calc_2" style="float:inherit;">
                <input type="submit" value="Calculus III" name="calc_3" style="float:right;">
                <br>
                <input type="submit" value="DiffEQ" name="diff_eq" style="float:left;">
                <input type="submit" value="Linear Algebra" name="linear_algebra" style="float:inherit;">
                <input type="submit" value="Vector Calculus" name="vector_calculus" style="float:right;">
            </form>

        </div>

        <div id="physics_container" class="subjects_formatter">
            <p id="physics_header_container" class="subjects_header_formatter">
                Physics Header
            </p>
            <form action="/physics_submit" method="POST">
                <input type="submit" value="Physics I" name="phys_1" style="float:left;">
                <input type="submit" value="Physics II" name="phys_2" style="float:inherit;">
                <input type="submit" value="Physics III" name="phys_3" style="float:right;">
                <br>
                <input type="submit" value="Quantum Mechanics" name="quantum_mechanics" style="float:left;">
                <input type="submit" value="Classical Mechanics" name="classical_mechanics" style="float:inherit;">
                <input type="submit" value="Modern Physics" name="modern_physics" style="float:right;">
            </form>

        </div>

    </div>


</div>


</body>
</html>